/* that IE 5+ conditional comment makes this only visible in IE 5+ */
ul.makeMenu li    /* the behaviour to mimic the li:hover rules in IE 5+ */
{
  behavior: url( /cgi/css/IEmen.htc );
}
ul.makeMenu ul    /* copy of above declaration without the > selector */
{  
  display: none; position: absolute; top: 2px; left: 170px;
}
