H1 {color: red; font-family: arial; background: black; font-size: 26pt}
H2 {color: white; font-family: arial}
H3 {color: blue; font-family: arial}
BODY {color: white; background: black; font-family: arial}
HR {text-align: center; width: 50%; margin-left: 25%; margin-right: 25%}
