/* FONTS */
#nts, #nts td {
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 13px;
	}

/* COLORS */
body {
	background-color: #ffffff;
	color: #000000;
	}
#nts td,
#nts th,
#nts-appointment-list,
#nts-user-menu,
#nts div.nts-calendar td div
	{
	background-color: inherit;
	color: inherit;
	}

#nts div.nts-calendar td div.available,
#nts #nts-selector a, 
#nts #nts-time-selector li,
ul#nts-announce li {
	background-color: #ccff99;
	}

#nts div.nts-calendar td div.not_available,
#nts #nts-appointment-list table tr.odd td {
	background-color: #dddddd;
	}
#nts div.nts-calendar td div.selected {
	border-color: #006600;
	}

#nts #nts-selector a,
#nts div.nts-calendar a,
#nts #nts-time-selector a,
#nts #nts-time-selector li
	{
	color: #000000;
	border-color: #99cc33;
	}

ul#nts-announce li.error {
	background-color: #ffcccc;
	}
	
#nts div.nts-calendar td div.selected {
	border: #006600 2px solid;
	}
#nts #nts-appointment-list table th {
	color: #339900;
	border-color: #339900;
	}
#nts #nts-appointment-list table td {
	border-color: #cccccc;
	}
#nts #nts-appointment-list table td.selecting-now {
	color: #bb0000;
	}

/* approved appointments */
#nts .nts-approved, #nts #nts-appointment-list table tr.odd td.nts-approved {
	background-color: #ccff66;
	}
/* pending appointments */
#nts .nts-pending, #nts #nts-appointment-list table tr.odd td.nts-pending {
	background-color: #ff9900;
	}
/* no show appointments */
#nts .nts-noshow, #nts #nts-appointment-list table tr.odd td.nts-noshow {
	background-color: #ff3300;
	}
/* cancelled appointments */
#nts .nts-cancelled, #nts #nts-appointment-list table tr.odd td.nts-cancelled {
	background-color: #999999;
	}

/* COLORS FOR ERRORS AND OTHER MESSAGES */
#nts .alert {
	color: #cc0000;
	}
#nts .warning {
	color: #ff9966;
	}
#nts .ok {
	color: #00cc00;
	}
