/* SWIM2.0 :: Simple website menu
****************************************************************
in txt.menu file id="menu-v"; this matters for offset of menu items
li is the current option parms, ul is the sub-option parms
width: to change size of menu options width
margin: to next outer option (offset up/down) 0 0 (20 less than width)
*/
ul.navbar, ul.navbar li 
{
  margin:0;
  padding:0;
  list-style-type:none;
  font-size:100%;
}
ul.navbar 
{
  position:relative;
  z-index:600;
  cursor:default;
  width:130px;
/*  left:1em; */
/*  top:4.05em; */
}
ul.navbar li 
{
  position:relative;
  text-align:left;
  cursor:pointer;
  width:130px;
  margin:-1px 0 0 0;
}
ul.navbar ul 
{
  cursor:default;
  position:absolute;
  z-index:620;
  width:200px;
  margin:-10px 0 0 110px;
  top:-2000px;
  left:-1px;
  padding:1px 0 0 0;
}
ul.navbar ul li 
{
  width:200px;
}
ul.navbar ul ul 
{
  margin:-10px 0 0 180px;
}
@media Screen, Projection 
{ 
  ul.navbar li:hover > ul { top:0; }
}
ul.navbar a, ul.navbar a:visited 
{
  display:block;
  cursor:pointer;
  background:silver;                
  border:1px solid blue;
  padding:5px 7px;
  font:normal 12px arial, verdana, sans-serif;
  color:blue;
  text-decoration:none;
  letter-spacing:1px;
}
ul.navbar a:hover, ul.navbar a:focus, ul.navbar a.rollover, ul.navbar a.rollover:visited 
{
  background:coral;
  color:black;
  border: 1px solid coral;
}
@media screen, projection 
{
  * html ul.navbar li 
  {
    display:inline; 
    float:left; 
    background:white; 
  }
}
* html ul.navbar li { position:static; }
* html ul.navbar a { position:relative; }
ul[class^="navbar"] ul { display:none; }
ul[class^="navbar"] ul { display:block; }
