[mysqld]
performance-schema=0
default-storage-engine=MyISAM
local-infile=0
innodb_file_per_table=1
max_allowed_packet=268435456
query_cache_limit=64M
query_cache_size=512M
query_cache_type=1
innodb_flush_log_at_trx_commit=2
innodb_lock_wait_timeout=200
max_connections=500
max_user_connections=300

open_files_limit=30000
[mysqldump]
create-options
quick
skip-extended-insert
max_allowed_packet=16M
